{% extends "base.html" %}
   {% block title %}ZZ Collective{% endblock %}
   {% block content %}
     <h1>ZZ Collective</h1>
    <div class="side-by-side"> 
     <p2>Wooden climbing holds with fine sanding and a finer price.</p2>
     <img src="{{url_for('static', filename='images/bwholds.jpeg')}}" alt="Description of image" class="bw-image">
    </div>
    <div class="explore-button-wrap">
    <a href="{{url_for ('products')}}" class="explore-button" role="button">explore our holds</a>
    </div>
   {% endblock %}